In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [7]:
df_corpus = pd.read_csv('data/HS300/20151230-20160613/corpus2.csv')

In [8]:
# remove num ≤ 65

df_corpus.drop(df_corpus.loc[df_corpus['num']<=65].index, inplace=True)
df_corpus = df_corpus.reset_index(drop=True)
len(df_corpus)

12887

In [18]:
df_corpus0 = pd.read_csv('data/HS300/20151230-20160613/corpus.csv')

# remove num ≤ 65

df_corpus0.drop(df_corpus0.loc[df_corpus0['num']<=65].index, inplace=True)
df_corpus0 = df_corpus0.reset_index(drop=True)
len(df_corpus0)

12887

In [20]:
df_corpus0[0:200]

      word   num
0     核心技术   579
1       推广  1081
2       增值  1174
3       领先  1243
4       贴现   701
..     ...   ...
195  股权登记日  1824
196  除权除息日   148
197     对象  4527
198     截止  3276
199     下午  1935

[200 rows x 2 columns]

In [9]:
def count_num(filename,t1,t2):
    
    num = 0
    
    df_hs300 = pd.read_csv('data/HS300/' + filename + '.csv')
    stock_code = list(df_hs300['成份代码'])
    foldername = t1+'-'+t2

    for i in range(len(stock_code)):
        
        one_stock_code = stock_code[i]
        savefilepath = 'data/HS300/' + foldername + '/'+ one_stock_code+'.csv'
        df = pd.read_csv(savefilepath)
        df = df.dropna()
        df = df.reset_index(drop=True)
        
        num = num+len(df)
    
    return num

In [10]:
D = count_num('2015-12-30','20151230','20160613')
D

17418

In [12]:
df_corpus[0:200]

      word   num
0     核心技术   579
1       推广  1081
2       增值  1174
3       领先  1243
4       贴现   701
..     ...   ...
195  股权登记日  1824
196  除权除息日   148
197     对象  4527
198     截止  3276
199     下午  1935

[200 rows x 2 columns]

In [15]:
import math

# math.log(x[, base])
# df['col2'] = df['col1'].map(lambda x: x**2)
# df_corpus['idf'] = math.log(D/(1+df_corpus['num']))
df_corpus['idf'] = df_corpus['num'].map(lambda x: math.log(D/(1+x)))

In [16]:
df_corpus[0:200]

      word   num       idf
0     核心技术   579  3.402231
1       推广  1081  2.778693
2       增值  1174  2.696236
3       领先  1243  2.639172
4       贴现   701  3.211326
..     ...   ...       ...
195  股权登记日  1824  2.255924
196  除权除息日   148  4.761313
197     对象  4527  1.347224
198     截止  3276  1.670576
199     下午  1935  2.196880

[200 rows x 3 columns]

In [13]:
for i in range(300):
    
    print(str(df_corpus.word[i]) + " " + str(df_corpus.num[i]))

核心技术 579
推广 1081
增值 1174
领先 1243
贴现 701
考核 2198
获授 471
绩效 827
新兴 848
折现 790
动力 1150
有效性 1679
健全 1476
自有 1388
超募 554
合规 2286
资助 840
团队 1519
派息 829
优秀 904
着力 776
溢价 759
定制 444
预先 809
高端 1004
创造 1366
创业 543
成就 398
改进 1163
引领 679
稳步 1029
引进 988
试行 1113
差异化 658
扶贫 175
派发 1244
驱动 749
一流 699
现金管理 539
首个 456
国际化 878
技术骨干 98
最佳 992
安全性 771
精准 368
关键 1275
幸福 251
股息 690
成果 2463
履约 700
改造 1290
还本付息 697
净亏损 900
无限 1654
除息 103
付息 1259
下跌 967
融券 1088
减值 1242
无偿 997
解散 417
摊薄 698
享受 1381
不利 1767
筹划 805
未能 2267
下滑 838
债权 1471
遭受 972
下降 2239
赔付 562
支付现金 1080
利息支出 1365
放弃 1449
偿还债务 1272
更名 893
平稳 838
卖出 675
拆出 160
侵占 362
只能 1146
兑付 1252
放缓 889
返还 1311
停牌 872
流出 1347
商誉 1207
违约 1235
亏损 2050
出售 2227
弥补 1067
资产重组 2556
坏账 546
立案 401
购回 1054
补偿 1522
证券 12889
代码 10918
公告 13438
编号 10847
优先股 2236
股份有限公司 13360
年度 9675
权益 3704
分派 962
实施 7214
公司 17175
董事会 15894
全体成员 5296
保证 14392
信息 9849
披露 11336
内容 14579
真实 9837
准确 9152
完整 9742
虚假 12443
记载 12482
误导性 12261
陈述 12746
遗漏 12533
方案 5317
已获 248
年度股东大会 3902
审议 11494
现将 1810
事宜 4439
股东大会 7911
利润分配 4271
资本 3536
公积金 2343
转增 2654
股本 3910
情况 13628
日本 1639
总股本 3458
股为 1611
基数 2152
每股 3833
发现 3641
股利 2162
人民币 7737
含税 2273
资本公积 2028
分配 2996
期间 5745
总额 5990
发生变化 2035
距离 304
时间 6592
超过 6550
两个 1828
现有 2438
股东 11434
派元 263
现金 4327
扣税 236
持有 7171
股改 396
限售 979
首发 476
证券投资基金 1278
股及 328
流通股 1298
利税 88
实行 2028
差别化 176
税率 1109
征收 907
权益登记日 69
投资者 7664
减持 1025
股票 6916
持股 4357
期限 4799
补缴 186
税款 1112
所涉 491
香港 3095
基金份额 126
内地 284
非居民企业 267
代扣代缴 572
所得税 1628
纳税人 411
所得 1180
发生地 79
缴纳 1906
股注 283
原则 4789
账户 3040
单位 6678
计算 3344
含个 199
以内 1279
股权登记日 1824
除权除息日 148
对象 4527
截止 3276
下午 1935
深圳证券交易所 4955
收市 1492
深圳 3099
分公司 3533
中国 6889
结算 3103
登记在册 1752
方法 3185
股于 196
记入 278
转股 775
过程 3909
小数点 94
尾数 305
排序 138
依次 346
时则 228
系统 3778
随机 100
直至 1141
总数 3967
委托 5257
红利 1738
托管 1635
证券公司 2071
机构 7242
划入 478
资金账户 607
由本 1215
自行 1535
序号 2903
账号 882
名称 6295
中国平安保险集团 102
集团 5335
本级 74
自有资金 2104
人寿 488
保险股份有限公司 782
传统 1255
保险产品 246
分红 2368
业务 8787
申请 4840
日至 692
登记日 614
如因 72
股份 7925
减少 3399
导致 3762
法律责任 2232
后果 445
承担 9052
起始 936
交易日 2245
变动 3490
前本 262
增至 776
调整 5656
相关 13726
参数 698
为元 2748
咨询机构 477
咨询 2407
地址 2916
广东省 955
深圳市 1911
深南 305
东路 716
联系人 2201
办公室 1608
咨询电话 193
传真电话 236
备查 3030
文件 7439
第九届 423
第二十次 514
会议 10535
决议 7348
特此 8992
福田区 515
中心 2985
建设 4722
广场 1079
第层 71
邮编 836
电话传真 2196
法律 5335
意见书 1684
北京市 2895
律师事务 408
本所 1035
接受 3701
中华人民共和国 3837
公司法 6857
上市公司 9867
规则 6272
出具 6171
目的 3528
包括 6820

In [17]:
df_corpus.to_csv('data/HS300/20151230-20160613/corpus2.csv', index=False, encoding='utf_8_sig')