In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [14]:
def read_corpus(path):
    
    df_corpus_origin = pd.read_csv(path)
    corpus_origin = list(df_corpus_origin['word'])
    
    return corpus_origin

In [15]:
corpus_origin = read_corpus("data/HS300/20151230-20160613/corpus2.csv")
len(corpus_origin)

12887

In [16]:
corpus_origin[0:10]

['核心技术', '推广', '增值', '领先', '贴现', '考核', '获授', '绩效', '新兴', '折现']

In [17]:
corpus_clean = read_corpus("data/HS300/20151230-20160613/corpus3.csv")
len(corpus_clean)

8730

In [30]:
def seperate_new_words(filename,t1,t2):
    
    corpus_origin = read_corpus("data/HS300/20151230-20160613/corpus2.csv")
    corpus_clean = read_corpus("data/HS300/20151230-20160613/corpus3.csv")
    
    foldername = t1+'-'+t2
    readfilepath = 'data/HS300/' + foldername + '/corpus2.csv'
    savefilepath = 'data/HS300/' + foldername + '/corpus3.csv'
    
    df = pd.read_csv(readfilepath)
    
    remove_index = []
    new_index = []
    
    for i in range(len(df)):
        
        if(df.word[i] not in corpus_clean):
            remove_index.append(i)
        
        if(df.word[i] not in corpus_origin):
            new_index.append(i)
        
#     print(len(remove_index))
#     print(len(new_index))
    
    df_new = df.loc[df.index[new_index]]
    df_new = df_new.reset_index(drop=True)
    
    df_new.to_csv(savefilepath, index=False, encoding='utf_8_sig')
    
    df = df.drop(df.index[remove_index])
    df = df.reset_index(drop=True)
    
#     print(df)

    df.to_csv(readfilepath, index=False, encoding='utf_8_sig')
    
    return df_new

In [38]:
# seperate_new_words('2016-06-13','20160613','20161212')

# seperate_new_words('2016-12-12','20161212','20170612')
# seperate_new_words('2017-06-12','20170612','20171211')

# seperate_new_words('2017-12-11','20171211','20180611')
# seperate_new_words('2018-06-11','20180611','20181217')

# seperate_new_words('2018-12-17' ,'20181217','20190617')
# seperate_new_words('2019-06-17','20190617','20191216')

# seperate_new_words('2019-12-16','20191216','20200615')
seperate_new_words('2020-06-15','20200615','20201214')

      word   num
0       新冠  1247
1       疫情  1942
2     被执行人   520
3       商住    84
4     今年以来   116
...    ...   ...
1157    复药    92
1158   临转债    88
1159   基绿能    85
1160  隆基绿能    98
1161    伊利   118

[1162 rows x 2 columns]

In [2]:
df_corpus = pd.read_csv('data/HS300/20151230-20160613/corpus3.csv')
df_corpus

         word   num       idf
0        核心技术   579  3.402231
1          推广  1081  2.778693
2          增值  1174  2.696236
3          领先  1243  2.639172
4          贴现   701  3.211326
...       ...   ...       ...
9455  分离交易可转债    86  5.299351
9456       转持    76  5.421454
9457      版本号    87  5.287923
9458     首创股份    88  5.276623
9459      上证所   179  4.572303

[9460 rows x 3 columns]

In [4]:
delete_index = []
delete_index.clear()

for i in range(len(df_corpus)):
    if("1" in df_corpus.word[i]):
        delete_index.append(i)

len(delete_index)

730

In [5]:
delete_index[0]

6375

In [7]:
df_corpus.word[6375]

'1需向'

In [8]:
df_corpus = df_corpus.drop(delete_index)
df_corpus = df_corpus.reset_index(drop=True)

In [9]:
df_corpus

         word   num       idf
0        核心技术   579  3.402231
1          推广  1081  2.778693
2          增值  1174  2.696236
3          领先  1243  2.639172
4          贴现   701  3.211326
...       ...   ...       ...
8725  分离交易可转债    86  5.299351
8726       转持    76  5.421454
8727      版本号    87  5.287923
8728     首创股份    88  5.276623
8729      上证所   179  4.572303

[8730 rows x 3 columns]

In [10]:
df_corpus.to_csv('data/HS300/20151230-20160613/corpus3.csv', index=False, encoding='utf_8_sig')